*{
    /*Desaparecer los bordes por defecto*/
    margin: 0;
    padding: 0;
}
.Menu{
    background-color:#636686;
}
.Menu nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Menu nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 12px 20px;
    display: block; /*Poner texto en bloque*/
}
a:hover{
    background: #c8baca;
}
.Menu nav ul li ul{
    display: flex;
    flex-direction: column;
}
.Menu nav ul li ul{
    position: absolute;
    background: #84869e;
}
.Menu nav ul li ul li{
    width: 150px;
    position: relative;
}
.Menu nav ul li ul{
    display: none;
}
.Menu nav ul li:hover > ul{
    display: block;
}
.activate{
    background-color: #c8baca;
}
body h1{
    font-family: 'Noto Sans KR', serif;
    font-weight: 500;
    padding: 4px;
    margin: 4px;
}
p{
    font-family: 'Padauk', sans-serif;
    line-height: 150%;
    text-align: justify;
    padding: 0 210px;
}
.Derecho{
    width: 400px;
}
.Politica{
    width: 300px;
    padding: 0 80px;
}
footer{
    position: fixed;
    height: 20px;
    bottom: 0;
    width: 100%;
    background-color: #636686;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

